<div class='display' layout="column">
    <div flex class="title">{{Display.name}}</div> 
    <div flex class="last">ULTIMO VALOR</div> <br>
    <div class="value">{{Display.value}} {{Display.unit}}</div> <br>
    <div class="time">{{Display.time}}</div>
</div>

