:host{
    width: 20%;
    height: auto;
    text-align: center;
    justify-content: space-around;
    color:white;
    font-family: Arial;
    display: block;
    position: relative;

    .display{
        width: 100%;
    }


    .title{
        font-size: 2em;
        color:rgb(228, 228, 228);
    }

    .last{
        font-size: 2em;
        color:gray;
        
    }

    .value{
        font-size: 4em;
        font-family: timeburner;
        color:rgb(228, 228, 228);
    }

    .time{
        font-size: 2em;
        color:gray;
    }



}