<div class="chart">
    <div class='timeSelect'>
        <span>Tiempo mostrado</span>
        <select (change)="onSelect($event)">
            <option [value]="minutes" *ngFor="let minutes of minutesArray"> {{minutes}}</option>
        </select>
    </div>
    <canvas id="{{Chart.id}}"></canvas>
</div>