:host{
        width: 100%;
        height: 100%;
        display: block;

        .chart{
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .timeSelect{
            margin-right: 40px;
            float: right;
        }
        
        canvas{
            position: relative; 
            display: block;
        }

        span{
            color:gray;
            padding-right: 10px;
        }

}