:host{


    app-dispay{
        width:20%;
        height: 300px;
        position: relative;
        flex: 1;
    }
    
    app-chart{
        width:70%;
        height: 300px;
        flex: 1;
        position: relative;
    }

    div{
        display: flex;
        height: 300px;
        padding-bottom: 20px;
        padding-top: 10px;
        border-bottom: 2px solid gray;
    }
    
}

