:host{
    display: flex !important;
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin:20px;
    margin-top: 10%;
    display: inline-block;
    box-shadow: 0 4px 20px rgba(185, 185, 185, 0.23), 0 3px 6px rgba(185, 185, 185, 1);
    min-width: 300px;
    max-width: 360px;
    max-height: 250px;
    color: rgb(204, 204, 204);
    background: rgb(24, 24, 24);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.invalid-feedback{
  text-align: right;
  color: red;
}
