/* You can add global styles to this file, and also import other style files */
/* html { 
    background: rgba(159,203,244,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(159,203,244,1) 0%, rgba(104,166,237,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(159,203,244,1)), color-stop(100%, rgba(104,166,237,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(159,203,244,1) 0%, rgba(104,166,237,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(159,203,244,1) 0%, rgba(104,166,237,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(159,203,244,1) 0%, rgba(104,166,237,1) 100%);
    background: radial-gradient(ellipse at center, rgba(159,203,244,1) 0%, rgba(104,166,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fcbf4', endColorstr='#68a6ed', GradientType=1 );
    } */
    html{
        background: rgb(0, 0, 0);
    }